<div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
    <div class="spinner-grow text-info" role="status" aria-hidden="true"></div>
</div>
<div class="my-1">
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterTextBrandInput" placeholder="Araç markası giriniz...">
</div>
<li [class] = "getAllBrandClass()" routerLink = "/cars">Tüm Araçlar</li>
<ul *ngIf="dataLoaded==true" class="list-group">
    <li (click)="setCurrentBrand(brand)" *ngFor="let brand of brands | filterBrand:filterText" 
    [class]="getCurrentBrandClass(brand)" routerLink = "/cars/brand/{{brand.brandId}}">{{brand.brandName}}</li>
</ul>