<div *ngIf="dataLoaded==false" class="container d-flex mt-3">
    <strong>Loading...</strong>
    <div class="spinner-grow text-info ms-auto" role="status" aria-hidden="true"></div>
</div>

<table *ngIf="dataLoaded==true" class="container table table-dark table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Brand</th>
        <th scope="col">Model Year</th>
        <th scope="col">Company</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Rent Date</th>
        <th scope="col">Return Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals">
        <th scope="row">{{rental.id}}</th>
        <td>{{rental.carDescription}}</td>
        <td>{{rental.carBrand}}</td>
        <td>{{rental.carModel}}</td>
        <td>{{rental.companyName}}</td>
        <td>{{rental.firstName}}</td>
        <td>{{rental.lastName}}</td>
        <td>{{rental.rentDate | date}}</td>
        <td>{{rental.returnDate | date}}</td>
      </tr>
      
    </tbody>
  </table>